@model V01_InnovtionWebAPP.Models.ServiceCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayOut.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ServiceCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEO_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEO_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEO_Meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEO_Meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LMD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LMD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceCategory_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
